.playground-wrapper{
    border: var(--border);
    padding: 5px ;
    width: auto;
    height: auto;
    border-radius: 4px;
}
#inner-playground-wrapper{
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#row-wrapper{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#col-wrapper {
    width: 80px;
    height: 80px;
    max-width: 100px;
    max-height: 100px;

}
#piece-wrapper{
    background-color: transparent;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#piece{
    pointer-events: none;
    z-index: 1000;
}
.validPath {
    background-color: #2929297c;
}
.cover-bg{
    background: #359e76;
}
.non-cover-bg{
    background:#ffffff;
}
.possible-path-bg{

    background-color:black;
    opacity: 0.4;
    cursor: pointer;
}